<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <title>Tiempo al Tiempo</title>

  </head>

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}


  <body>

        <div class="jumbotron">
        <div class="container">

          <div > <div class="inner">
              <h3 class="masthead-brand">Log Out.</h3>
              
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Nos vemos.</h1>
            <p class="lead">Vuelve cuando quieras</p>
          </div>

        </div>
        </div>


  </body>
</html>
