{% extends "base.html" %}
{% load app_filters %}
{% load bootstrap3 %}
{% block menu %}
          <ul class="nav navbar-nav">
            <li><a href="/">Inicio</a></li>
            <li><a href="{% url 'cuentas' %}">Cuentas</a></li>
            <li><a href="{% url 'busqueda' %}">Búsqueda</a></li>
            <li class="active"><a href="#">Editar Datos</a></li>
            <li><a href="{% url 'novedades' %}">Novedades</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
          </ul>
{% endblock %}
{% block content %}
<h2>Añadir un nuevo Artículo</h2>
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Enviar
        </button>
    {% endbuttons %}
</form>
{% endblock %}
